.topbar {
    background-color: rgba(200, 200, 200, 0.1);
    padding: 10px 20px;
    position: fixed;
    margin-top: 40px;
    left: 0; 
    height: 100vh; /* Full height to align items vertically */
    width: 200px; /* Adjust as needed */
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Items start from the top */
    color: white;
}

.topbar-item {
    margin-bottom: 40px; /* Space between items */
    display: flex;
    flex-direction: column; /* Ensure each item inside is vertically aligned */
    align-items: flex-start; /* Left alignment */
}

.topbar-user {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 1.3em;
    padding: 5px 15px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;  
    border-radius: 8px;
    background-color: rgba(173, 216, 230, 0.25);
    margin-top: 10px; /* Space below the avatar */
}

.topbar-coins {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 1.3em;
    padding: 5px 15px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;  
    border-radius: 8px;
    background-color: rgba(173, 216, 230, 0.25);
}

.topbar-avatar {
    margin-left: 10px;
}

.topbar-piggybank {
    margin-top: 10px;
}

.book_button {
    background: transparent; 
    border: none;           
    margin-left: 0;  
    margin-top: 10px;           
    cursor: pointer;    
}

.book_button:hover {
    filter: brightness(1.1); 
    transform: scale(1.1);  
}

.transparent-image {
    background: transparent;
}
